<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.dao.IScheduleDao">
	<!-- 不能引用ICinemaDaoMapper的 cinemaMap 要写出来，否则不报错也没结果 -->
	<resultMap type="Cinema" id="cinemaMap">
		<result column="CINEMA_ID" property="cinemaId" />
		<result column="CINEMA_NAME" property="cinemaName" />
		<result column="CINEMA_LOCATION" property="cinemaLocation" />
		<result column="CINEMA_TEL" property="cinemaTel" />
		<result column="C_IMG" property="imgSrc" />
	</resultMap>

	<resultMap type="FilmHall" id="filmHallMap">
		<result column="FILMHALL_ID" property="filmHallId" />
		<result column="FILMHALL_NAME" property="filmHallName" />
		<association property="cinema" javaType="Cinema"
			resultMap="cinemaMap"></association>
	</resultMap>
	<resultMap type="Film" id="filmMap">
		<result column="FILM_ID" property="filmId" />
		<result column="FILM_NAME" property="filmName" />
		<result column="TOTAL_TIME" property="totalTime" />
		<result column="FILMSORT" property="filmSort" />
		<result column="RELEASE_TIME" property="releaseTime" />
		<result column="DIRECTOR" property="director" />
		<result column="SCRIPTWRITER" property="scriptWriter" />
		<result column="ACTOR" property="actor" />
		<result column="COUNTRY" property="country" />
		<result column="FILMCOMPANY" property="filmCompany" />
		<result column="STORY" property="story" />
		<result column="IMG_SRC" property="imgSrc" />
		<result column="FILM_SCORE" property="filmScore" />
		<association property="filmStorySort" javaType="FilmStorySort"
			resultMap="filmStorySortMap"></association>
	</resultMap>
	<resultMap type="FilmStorySort" id="filmStorySortMap">
		<result column="S_ID" property="sid" />
		<result column="SORTS" property="sorts" />
	</resultMap>
	<resultMap type="Schedule" id="scheduleMap">
		<result column="SCHEDULE_ID" property="scheduleId" />
		<result column="SCHEDULE_TIME" property="scheduleTime" />
		<result column="TICKET_PRICE" property="ticketPrice" />
		<result column="OVERDUE" property="overDue" />
		<association property="film" javaType="Film" resultMap="filmMap"></association>
		<association property="filmHall" javaType="FilmHall"
			resultMap="filmHallMap"></association>
	</resultMap>

	<select id="getCurrentSchedule" parameterType="Map" resultMap="scheduleMap">
		select * from film_sch_view where film_id=#{filmid} and
		schedule_time-sysdate&lt;0 and cinema_id=#{cinema_id}
	</select>
	
	<select id="getCurrentSchedule" parameterType="Schedule" resultMap="scheduleMap">
		select * from film_sch_view where 1=1
			<if test="filmHall!=null">
				<if test="filmHall.filmHallId!=null and filmHall.filmHallId!=''">
					and FILMHALL_ID=#{filmHall.filmHallId}
				</if>
				<if test="filmHall.cinema!=null">
					and cinema_id = #{filmHall.cinema.cinemaId}
				</if>
			</if>
			<if test="film!=null">
				<if test="film.filmId!=null and film.filmId!=''">
					and FILM_ID=#{film.filmId}
				</if>
			</if>
			<if test="scheduleId!=null and scheduleId!=''">
				SCHEDULE_ID=#{scheduleId}
			</if>
			<if test="scheduleTime!=null and scheduleTime!=''">
				and scheduleTime 
			</if>
			<if test="ticketPrice!=null and ticketPrice!=''">
				TICKET_PRICE={ticketPrice}
			</if>
			<if test="overDue!=null and overDue!=''">
				OVERDUE={overDue}
			</if>
	</select>
	<select id="getSchedules" parameterType="Schedule" resultMap="scheduleMap">
		select s.*,f.film_name,fl.filmhall_name from schedule s, film f,
		filmhall fl
		<where>
			s.film_id=f.film_id and s.filmhall_id=fl.filmhall_id
			<if test="filmHall!=null">
				<if test="filmHall.filmHallId!=null and filmHall.filmHallId!=''">
					s.FILMHALL_ID=#{filmHall.filmHallId}
				</if>
			</if>
			<if test="film!=null">
				<if test="film.filmId!=null and film.filmId!=''">
					s.FILM_ID=#{film.filmId}
				</if>
			</if>
			<if test="scheduleId!=null and scheduleId!=''">
				SCHEDULE_ID=#{scheduleId}
			</if>
			<if test="scheduleTime!=null and scheduleTime!=''">
				SCHEDULE_TIME=#{scheduleTime}
			</if>
			<if test="ticketPrice!=null and ticketPrice!=''">
				TICKET_PRICE={ticketPrice}
			</if>
			<if test="overDue!=null and overDue!=''">
				OVERDUE={overDue}
			</if>
		</where>
	</select>
</mapper>